
a {
	color: #000000;
	text-decoration: none;
	&:hover {
		color: #bbbbbb;
		text-decoration: none;
		cursor: pointer;
	}
}
.navbar-default {
	background-color: #000;
	border-color: #000;
	.navbar-brand {
		color: #fff;
	}
	.navbar-nav {
		& > li {
			& > a {
				color: #fff;
			}
		}
	}
}
navbar-default .navbar-brand:hover,
navbar-default .navbar-brand:focus {
	background-color: transparent;
	color: #bbbbbb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #bbbbbb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #000;
	background-color: #fff;
	text-decoration: none;
}